[SddmGreeterTheme]
Name=SquareSDDM
Description=The hottest theme for SDDM (Qt6 compatible)
Author=Tom Gora (mod based on work of Marian Alexander Arlt)
Copyright=(c) 2018, Marian Alexander Arlt
Email=marianarlt@icloud.com
License=GPLv3
Type=sddm-theme
Version=0.2.0
Website=https://github.com/tom-gora/my-sddm-theme
Screenshot=screenshor.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=SquareSDDM
Theme-API=2.0
QtVersion=6
